extends layout

block content
  h1= title
  p This is the index page
    div(class="messagesDiv")
      each post in posts 
        div.form-group(class="postBox")
          p #{post.title}
          p #{post.message}
          p #{post.user}
          p #{post.timestamp}  